name: Pylint

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8  # You can specify the version you need

      - name: Install dependencies
        run: |
             pip install --upgrade pip
             pip install -r requirements.txt  

      - name: Run Pylint
        run: pylint **.py
        
      - name: Upload Pylint log as artifact
        uses: actions/upload-artifact@v2
        with:
         name: Pylint Log
         path: pylint_output.log
